@charset "UTF-8";
.container {
  display: flex; /*　子要素の横並び */
  flex-wrap: wrap; /* 子要素の折り返して、複数行に上から下へ並べる */
  align-content: space-between; /* 子要素が複数行にわたった場合の垂直方向の揃えを指定 */
  /* space-between:最初と最後の子要素を上下の端に配置し、残りの要素は均等に間隔を空けて配置　*/
  height: 300px; /* 要素の高さ */
}
.item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
